node_modules/
.env
.env.local
.env.production
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos generados localmente
public/images/uploads/*

# Sistema operativo
.DS_Store
Thumbs.db

NODE_ENV=development
PORT=3000
